.chart {
  margin: 0 auto;
  //padding: 3em;
  max-width: $max-width;
  line-height: $line-height;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .disclaimer {
    color: #9E9E9E;
    font-style: italic;
    padding: 0 3em;
    font-size: .7em;
  }
}