.hero {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.relative-center {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  margin: 0;

  .hero-logo {
    max-width: $max-width;
    width: 100%;
    padding: 0 3em;
    margin: 0;
  }
  
  .btn {
    background-color: $green;
    
    &:hover {
      background-color: $light-green;
    }
  }
}