<section class="about-company" id="about">
  <h5 class="section-title">About Us</h5>
  <p>Stop-Loss Investments is a boutique hedge fund driven by a passion to help you succeed.  We offer an effective investment strategy designed to generate significant capital gains to propel you into financial independence.</p>
</section>
<section class="about-jeff row">
  <div class="about-wrapper"><i class="material-icons cols s4">account_circle</i>
    <div class="about-jeff-info s8">
      <p class="about-name">Jeff Caldwell</p>
      <p class="about-job-title">CEO and Chief Investment Officer</p>
      <p class="job-description">Jeff created the investment strategy that drives Stop-Loss Investments and manages all of the trading and investment selection. Prior to SLI he worked in pricing strategy for various Fortune 500 healthcare corporations. He also performed electrical engineering design and leadership services for building design and space solar firms. Jeff has a BS in Electrical Engineering and a Minor in Economics from Penn State University and a MBA with a Finance concentration from Rutgers University.</p>
    </div>
  </div>
</section>
<section class="about-christina row">
  <div class="about-wrapper"><i class="material-icons cols s4">account_circle</i>
    <div class="about-christina-info s8">
      <p class="about-name">Christina Caldwell, CPA</p>
      <p class="about-job-title">Chief Financial Officer</p>
      <p class="job-description">Christina manages Stop-Loss Investments' internal accounting and finances. She also performs individual tax services for SLI clients and the general public. Prior to SLI she worked in both public and corporate accounting and finance. She has expertise in individual taxes and small business owner taxes as well as internal and external reporting for mid-size companies. Christina has a BS in Accounting from Bob Jones University and is a Certified Public Accountant.</p>
    </div>
  </div>
</section>