<form action="/calculator/" method="POST" class="calculator" id="calculator">
  <h5 class="section-title">Calculate Your Return</h5>
  <p>How often do you plan to invest?</p>
  <div class="input-field">
    <select name="calculator-frequency">
      <option value="monthly">Monthly</option>
      <option value="yearly">Yearly</option>
      <option value="once">Only Once</option>
    </select>
  </div>
  <p>How much do you want to invest?</p>
  <div class="input-field"><i class="material-icons prefix">attach_money</i>
    <label>Investment Amount</label>
    <input type="text" value="10,000" name="calculator-amount"/>
  </div>
  <p>Check our performance against historical market returns.</p>
  <div class="input-field">
    <label>Theoretical Start Date</label>
    <input class="datepicker" type="text" name="calculator-date"/>
  </div>
  <input type="submit" class="calculate-btn btn waves-effect waves-light modal-trigger" value="CALCULATE"/>
  <!--div.calculator-wrapper
  p.calculator-total Portfolio Value $20,000
  p.calculator-subtraction-line Principle -  <span class="calculator-principle">$10,000</span>
  p.calculator-interest $10,000
  -->
</form>