<nav role="navigation">
  <div class="nav-wrapper"><a class="brand-logo" href="/"><img src="static/img/logo-circle.png" alt="logo"/></a><a class="button-collapse" href="#" data-activates="mobile-demo"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#invest">Invest With Us</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#our-method">Our Method</a></li>
      <li><a href="#calculator">Calculate Your Return</a></li>
      <li><a href="#contact">Contact Us</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#invest">Invest With Us</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#our-method">Our Method</a></li>
      <li><a href="#calculator">Calculate Your Return</a></li>
      <li><a href="#contact">Contact Us</a></li>
    </ul>
  </div>
</nav>