<section class="invest" method="post" action="/new_investor.py" id="invest">
  <h5 class="section-title">How To Invest With Us</h5>
  <div class="invest-overview">
    <p>Investing with us is quick and easy! Just follow the steps below to submit your application.</p>
    <p class="step">Step 1: Download and fill out our investment contract.</p><a class="btn center waves-effect waves-light" href="/contract.pdf" target="_blank">DOWNLOAD</a>
    <p class="step">Step 2: Give us a few details about yourself.</p>
    <div class="input-field">
      <label>Name</label>
      <input class="validate" type="text" required="required"/>
    </div>
    <div class="input-field">
      <label>Email</label>
      <input class="validate" type="text" required="required"/>
    </div>
    <div class="input-field">
      <label>Phone</label>
      <input class="validate" type="text" required="required"/>
    </div>
    <div class="input-field file-field">
      <p class="step">Step 3: Upload the signed contract.</p>
      <div class="btn waves-effect waves-light"><span>Upload</span>
        <input type="file"/>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text"/>
      </div>
    </div>
    <div class="input-field">
      <input class="btn waves-effect waves-light" type="submit" value="SEND APPLICATION" onclick="alert('Coming Soon');"/>
    </div>
  </div>
</section>