<section class="our-method" id="our-method">
  <div class="method-overview">
    <h5 class="section-title">Our Method</h5>
    <p>Stop-Loss Investments takes advantage of a simple and reliable fact: The US stock market trends upward over time. Why not leverage something that already works? We simply enhance the already positive performance. However, as we all know or have experienced, the market isn't always headed north. It's during these times that gave Stop-Loss its name, and it's the key to keeping our performance alive. When the market goes the other way, we shift over to bonds to keep your assets growing. Through the good years and the bad years, we have a strategy that keeps you going.</p>
    <p>To get more detailed information on how we invest, download our prospectus below.</p><a class="btn waves-effect waves-light" href="/prospectus.pdf" target="_blank" download="download">PROSPECTUS</a>
  </div>
</section>